# Shopify
PUBLIC_SHOPIFY_STORE_DOMAIN=
PUBLIC_SHOPIFY_STOREFRONT_ACCESS_TOKEN=

# Sanity (lo trovi nella dashboard di Sanity o nel file sanity.config.ts appena creato)
PUBLIC_SANITY_PROJECT_ID=
PUBLIC_SANITY_DATASET=